<router-outlet></router-outlet>
<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="my-form">
      <h2>Login</h2> 

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your name" class="form-control" name="name" required>
          </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter your phone number" class="form-control" name="phone" required>
        </mat-form-field>
      </div>
      <button mat-raised-button style="margin-right: auto;" [disabled]="!loginForm.valid" type="submit" color="primary">Login</button>
      <span>New User?</span>
      <button mat-raised-button routerLink="/register" type="submit" color="primary">Register</button>
    </form>
  </mat-card-content>
</mat-card>

