<html>
  <head>
  
  </head>
  <body>
    <p>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <mat-icon>local_fire_department</mat-icon>
          <span>Fitness Freaks</span>
          <span class="example-spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </p>
    <h1>Welcome to Fitness Freaks</h1>
    <h3>With the best in class trainers and equipments, we provide you the best services in physical training.<br>
      With customized training & appropriate diet plans we assure you to achieve physique as per your wish!
    </h3>
    <!-------MAT CARD-------->
    <br>
    <div style="display:flex; flex-direction: row;">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title color="bg-primary">Certified Trainers </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Get trained with our experienced trainers<br>Get full time assistance and guidance.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>New Equipments</mat-card-title>
        </mat-card-header>
        <mat-card-content><br>
          <p>With quaterly servicing and replacements<br> of equipments,we try to provide you the<br> best equipments in own.</p>
        </mat-card-content>
      </mat-card> <br>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Steam Bath</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>After.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <!------------- EXPANSION PANEL---------------->
    <br>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>

  </body>

</html>

