<mat-card>
  <mat-card-content>
    <div class="container">
<form [formGroup]="registerForm" (ngSubmit)="OnSubmit(registerForm)">
  <h2>Register</h2>
  <div class="form-group">
    <input matInput type="text" placeholder="Name*" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <input matInput type="number" placeholder="Phone number*" class="form-control" formControlName="phone">
    <p *ngIf="registerForm.controls.phone.errors?.minlength && registerForm.controls.phone.touched"
      class="alert alert-danger">Phone number is not proper!</p>
  </div>
  <div class="form-group">
    <input matInput type="text" placeholder="Address*" class="form-control" formControlName="address">
  </div>
  <div class="form-group">
    <input matInput placeholder="Weight*" class="form-control" formControlName="weight">
    <span matSuffix>Kg</span>
  </div>
  <div class="form-group">
    <input matInput placeholder="Height*" class="form-control" formControlName="height" name="height">
    <span matSuffix>cm</span>
  </div>
  <div class="form-group">
    <mat-select placeholder="Package Type*" formControlName="package">
      <mat-option value="quarterly">Quarterly</mat-option>
      <mat-option value="halfyearly">Half-Yearly</mat-option>
      <mat-option value="annual">Annual</mat-option>
    </mat-select>
  </div>
  <div class="form-group">
    <label>Personal Trainer</label>
    <input matInput type="radio" formControlName="trainer" name="trainer" value="Yes" />
    <label>Yes</label>
    <input matInput type="radio" formControlName="trainer" name="trainer" value="No" />
    <label>No</label>
  </div>
  <div class="form-group">
   <input matInput type="date" placeholder="Start date*" formControlName="date" name="date" />
  </div>
  <button mat-raised-button type="submit" color="primary">Register</button>
</form>
    </div>
  </mat-card-content>
</mat-card>
